div{
    width: 100%;
    max-width: 400px;
    height: auto;
    overflow: hidden;
    margin: 25px;
    border: 5px #0000000 red solid;
    padding: 10px 20px 15px 10px;
    float: left;
    text-align: center;
    background-color: rgb(142, 67,87); 
    color: blueviolet;
}